.main-title-container{
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #293356;
}
p {
  color: #858fad;
}